@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom css */

/* * {
  outline: 1px green solid;
} */

header {
  @apply text-gray-600 font-openSans p-2;
}

nav {
  @apply md:ml-auto flex flex-wrap items-center text-xl justify-center;
}

a {
  @apply mr-5 hover:text-gray-400;
}

article {
  text-indent: 2rem;
}

td {
  @apply border border-gray-400;
}

th {
  @apply bg-gray-100 border border-gray-400 uppercase;
}

table {
  @apply whitespace-nowrap;
}

#app {
  @apply block;
}

.header-container {
  @apply h-header;
}

.middle-container {
  @apply h-middle;
}

.dashboard-container {
  height: calc(100vh - theme('height.header') - theme('height.middle'));
}

.top-nav-bar {
  @apply flex w-full justify-items-end;
}

.top-nav-bar nav {
  @apply text-2xl;
}
